*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 0.875rem;

}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 40px;
  border-color: transparent;
  color: white;
  background: blue;
  cursor: pointer;
  transition: all 0.3s linear;

}

.btn:hover {
  background: transparent;
  color: blue;
  border-color: blue;
}

.nav {
  width: 100%;
  justify-content: center;
}


.nav-toggle {
  font-size: 1.5rem;
  color: hsl(205, 78%, 60%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.nav-toggle:hover {
  color: hsl(209, 61%, 16%);
  transform: rotate(90deg);
}

.nav-header {
  display: inline-block;
  justify-items: space-between;
}

.logo {
  margin-top: 10px;
  
}

.links a {
  color: hsl(209, 34%, 30%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  transition: all 0.3s linear;
}

.links a:hover {
  background: blue;
  color: white;
  border-radius: 20px;
  padding-left: 1.5rem;
}

.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-links {
  height: auto;
  padding: 2rem;
}
.show-links a {
   padding: 5px;
}
.count-down p {
  text-transform: capitalize;
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}

.count-box h3 {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: 0.25rem;
}

.count-box p {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;

}

.count-down {

  display: grid;
  align-items: center;
  margin-top: 30px;
  padding: 0 3rem;
}

.count-box {
  display: grid;
  grid-template-areas: "container-day container-hour container-minute container-second";
  place-items: center;
  text-align: center;
}

.row p {
  font-size: 1.10rem;
  margin: 0;
}

.row .paragrah {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

.row h1 {
  font-size: 3rem;
  margin: 0;
}

.cta {
  display: grid;
  grid-template-areas: "cta1 cta2";
  margin-top: 20px;

}

.cta1 {
  justify-self: start;
  margin: 0 !important;
  align-items: center;
}

.cta2 {
  margin: 0 !important;
  justify-self: center;
  align-self: center;
}

.left p {
  max-width: 35rem;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

.show-links {
  height: 10rem;
}

@media screen and (min-width: 769px) {

  .nav-center {

    width: 90vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 7rem;
    display: flex;
    justify-content: space-between;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
  }

  .links a {
    padding: 10px;
    margin: 0 0.5rem;
  }

  .links a:hover {
    padding: 0;
    background-color: blue;
    border-radius: 30px;
    padding: 10px;
  }

  .about {
    min-height: 55vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1rem 7rem;
    place-items: center;

  }

  .about .row {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    color: gray;

  }

  .right img {

    width: 100%;
    height: auto;
    display: block;

  }
}

@media screen and (max-width: 481px) {
  .nav-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .logo{
    height: 10px;
  }
  .about .row {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left {
    padding: 1rem;
    color: gray;
    align-items: center;
  }

  .right img {
    width: 70%;
    height: auto;

  }

  .cta {
    display: grid;
    grid-template-areas: "cta1 cta2";
    margin-top: 20px;
    grid-gap: 20px;
  }

  .nav-header {
    justify-content: space-between;
  }

  .count-down {
    text-align: center;
    justify-content: center;
  }

  .count-box {
    display: grid;
    grid-template-areas: "container-day container-hour";
  }

  .count-down p {
    padding: 1rem;
  }
}

@media screen and (min-width: 320px) {

}