*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo{
  margin-top: 10px;
}
.btn {
  font-size: .8rem;
  padding: 10px 20px;
  border-radius: 10px;
  border-color: transparent;
  color: white;
  background: blue;
  cursor: pointer;
  transition: all 0.3s linear;

}

.btn:hover {
  background: transparent;
  color: blue;
  border-color: blue;
}


.nav-toggle {
  font-size: 1.5rem;
  color: hsl(205, 78%, 60%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  display: block;
}

.nav-toggle:hover {
  color: hsl(209, 61%, 16%);

}

.links a {
  color: hsl(209, 16%, 39%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  transition: all 0.3s linear;
}

.links li a:hover {
  background: blue;
  color: white;
  border-radius: 20px;
  padding-left: 1.5rem;
}

.count-down p {
  text-transform: capitalize;
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}

.count-box h3 {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: 0.25rem;
}

.count-box p {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;

}

.count-down {

  display: grid;
  /* align-items: center; */
  margin-top: 30px;
  


}

.count-box {
  display: grid;
  grid-template-areas: "container-day container-hour container-minute container-second";
  place-items: center;
  text-align: center;
}

.row p {
  font-size: 1.10rem;
  margin: 0;
}


.row h1 {
  font-size: 3rem;
  margin: 0;
}

.cta {
  display: grid;
  grid-template-areas: "cta1 cta2";
  margin-top: 20px;
}

.cta1 {
  justify-self: start;
  margin: 0 !important;
  align-items: center;
}

.cta2 {
  margin: 0 !important;
  justify-self: start;
  align-self: center;
}

.row p {
  max-width: 35rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.row h1 {
  font-size: 34px;
  font-family: 'Inter', sans-serif;
  color: rgb(71, 65, 65);
  text-transform: capitalize;
}

.row h1 span {
  font-weight: bolder;
}


.nav-center {
  width: 90vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 7rem;
  display: flex;
  justify-content: space-between;
}

.links {
  height: auto;
  display: flex;
}

.links a {
  padding: 10px;
  margin: 0 0.5rem;
}

.links a:hover {
  padding: 0;
  background-color: blue;
  border-radius: 30px;
  padding: 10px;
}

.about {

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 7rem;
  padding-right: 7rem;
  place-items: center;
}

.about .row {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  color: gray;

}

.right img {
  width: 100%;
  height: auto;
  /* display: block; */

}

.nav-toggle {
  display: none;
}

.logo {
  height: 10px;
}

@media screen and (max-width: 768px) {
 
.about p{
  font-size: 0.8rem;
}
.about h1{
  font-size: 1.5rem;
}
  .nav-center {
    flex-direction: column;
    padding: 2rem !important;
    
  }
.nav-header{
  display: flex;
  justify-content: space-between;
}
  .links {
    flex-direction: column;
    
  }

  .links li a {
    color: gray;
    font-size: 1.2rem;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
  }


  .links {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }

  .show-links {
    height: auto;
    /* padding: 2rem; */
  }

  .nav-toggle {
    font-size: 1.5rem;
    color: hsl(205, 78%, 60%);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: block;
  }

  .nav-toggle:hover {
    color: hsl(209, 61%, 16%);

  }

  .about .row {
    
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

 
  .right img {
    padding-top: 1rem;
    width: 90%;
    text-align: center;
   
  }

  .cta {
    display: grid;
    grid-template-areas: "cta1 cta2";
    margin-top: 20px;
    grid-gap: 20px;
  }

  
  .count-down {
    text-align: center;
    justify-content: center;
  }

  .count-box {
    display: grid;
    grid-template-areas: "container-day container-hour";
  }


}

@media screen and (max-width: 360px) {
  .row .left h1 {
    font-size: 2rem;
  }

  
  .nav-header {
    justify-content: space-between;
  }

  .nav-toggle:hover {
    color: hsl(209, 61%, 16%);

  }

  .nav-toggle {
    font-size: 1.5rem;
    color: hsl(205, 78%, 60%);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: block;
  }

 .about{
   display: grid;
   grid-template-columns: 1fr;
 }
}

@media screen and (max-width:411px) {
 

  .nav-header {
    display: flex;
    justify-content: space-between;
  }

  .nav-toggle:hover {
    color: hsl(209, 61%, 16%);

  }

 .about{
   display: grid;
   grid-column: 1fr;
   justify-content: center;
   padding: 0 !important;
 }

.about img{
  padding: 3rem;
}

 .count-down .count-box{
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 0 !important;
 }

}